<html>
  <head>
    <base href="/">
    <title>JuanaChat - Account management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="/scripts/zone.js/dist/zone.js"></script>
    <script src="/scripts/reflect-metadata/Reflect.js"></script>
    <script src="/scripts/systemjs/dist/system.src.js"></script>

    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/portfolio-item.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/flag-icon.min.css" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css' />



    <script src="/javascripts/systemjs.config.js"></script>
    <script>
      function fromIos(val){
        window.angularComponentRef.zone.run(function () { window.angularComponentRef.purchaseCallback(val)})
      }
      System.import('app').catch(function(err){ console.error(err); });
    </script>
  </head>
  <body>
    <app-main><div class="loading">Loading My Account. Please wait.</div></app-main>
  </body>
</html>