<div class="history-page">
    <h1 class="page-title">History Reports</h1>

    <div class="hisotry-wrapper top20">
        <br/>
        <div class="txt-left">
        <div class="top10">
            <div class="row">
                <div class="col-sm-6 history-form-field">Type:</div>
                <div class="col-sm-6 history-form-radio-field radio">
                    <input type="radio" [(ngModel)]="type" id="calls" value="calls"> <label for="calls">Outgoing calls</label>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-6 history-form-field"></div>
                <div class="col-sm-6 history-form-radio-field radio">
                    <input type="radio" [(ngModel)]="type" id="sms" value="sms"> <label for="sms">Outgoing SMS</label>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-6 history-form-field"></div>
                <div class="col-sm-6 history-form-radio-field radio">
                    <input type="radio" [(ngModel)]="type" id="packages" value="packages"> <label for="packages">Packages</label>
                </div>
            </div>
        </div>
        <div class="top10">
            <div class="row">
                 <div class="col-sm-6 history-form-field" >Date From:</div>
                <div class="col-sm-6 history-form-radio-field radio" style="margin-left: -25px;">
                    <input required type="date" [value]="startDate" (input)="startDate=$event.target.value" id="start-date" max='{{todayDate}}'>
                </div>
            </div>
        </div>
        <div class="top10">
            <div class="row">
                <div class="col-sm-6 history-form-field">Date To:</div>
                <div class="col-sm-6 history-form-radio-field radio"  style="margin-left: -25px;">
                    <input required type="date" [value]="endDate" (input)="endDate=$event.target.value" id="end-date" max='{{todayDate}}'>
                </div>
            </div>
        </div>
        <div class="top10">
            <button class="btn btn-primary btn-width" (click)="searchHistory()" [disabled]="processing">SEARCH</button>
            <simple-spinner [show]="processing"></simple-spinner>
        </div><br/>
    </div>

    <div *ngIf="callHistory" class="history-container top20">
        <h3>Calls History</h3>
        <table class="table table-striped">
            <thead class="thead-inverse">
                <tr>
                    <th class="hidden-xs">#</th>
                    <th>Start date</th>
                    <th>Called number</th>
                    <th>Duration</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of callHistory; let i = index">
                    <td class="hidden-xs">{{i}}</td>
                    <td>{{row.call_start_time}}</td>
                    <td>{{row.destination}}</td>
                    <td>{{row.duration}}</td>
                    <td>{{row.call_cost}} USD</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="smsHistory" class="history-container top20">
        <h3>SMS History</h3>
        <table class="table table-striped">
            <thead class="thead-inverse">
            <tr>
                <th class="hidden-xs">#</th>
                <th>Date</th>
                <th>Destination</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let row of smsHistory; let i = index">
                <td class="hidden-xs">{{i}}</td>
                <td>{{row.sent_time}}</td>
                <td>{{row.destination}}</td>
                <td>{{row.call_cost}} USD</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="packagesHistory" class="history-container top20">
        <h3>Package History</h3>
        <table class="table table-striped">
            <thead class="thead-inverse">
            <tr>
                <th class="hidden-xs">#</th>
                <th>Date</th>
                <th>Name</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let row of packagesHistory; let i = index">
                <td class="hidden-xs">{{i}}</td>
                <td>{{row.transaction_time}}</td>
                <td>{{row.name}}</td>
                <td>{{row.cost}} USD</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
    </div>
