<div class="col-md-6 col-md-offset-3 login-page ">
    <h1 class="login-title">Login</h1>
    <div class="subtitle">
        Login to view your account information - transaction history,
        billing, call history and more.
    </div>
    <div *ngIf="step == 1"class="loing-step-1">

        <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !phonenumber.valid }">
                <label for="phonenumber">Please enter your number:</label>
                <div class="clearfix"></div>
                <div class="numberbox">
                    <div class="col-xs-3 col-md-3 dropdown country-wrapper" dropdown>
                        <button type="button" class="btn select-country-btn" dropdown-open>
                        <span class="country-flag flag-icon flag-icon-{{selectedCountry.country|lowercase}}" aria-hidden="true"></span>
                        +{{selectedCountry.code}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li *ngFor="let country of countriesArray"><a (click)="selectCountry(country.country)"><span class="country-flag flag-icon flag-icon-{{country.country|lowercase}}" aria-hidden="true"></span>{{country.title}}<span class="country-code">+{{country.code}}</span></a></li>
                    </ul>
                </div>
                    <div class="col-xs-9 col-md-9 phone-input-wrapper">
                        <input id="phonenumber" type="text" class="form-control" name="phonenumber" [(ngModel)]="model.phonenumber" #phonenumber="ngModel" required />
                        <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                    </div>
                </div>
                <div *ngIf="f.submitted && !phonenumber.valid" class="help-block">Phone number is required</div>
            </div>
            <div class="clearfix"></div>
            <div class="top20 form-group">
                <button type="submit" [disabled]="loading" class="btn btn-primary">Send validation code</button>
                <simple-spinner [show]="loading"></simple-spinner>
            </div>
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        </form>
        <div class="small">
            An authentication code will be sent to your mobile phone. Please ensure that your phone is on and app is active. Check if your app is active by opening the "More" screen and selecting "About Us". If a green line appears at the bottom of the screen your app is online and active.
        </div>
    </div>

    <div *ngIf="step == 2" class="loing-step-2">
        <label for="otp"> Enter the 4 digits code you received:</label>
        <form name="form" (ngSubmit)="f.form.valid && validateOtp()" #f="ngForm" novalidate>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !otp.valid }">
                <input id="otp" type="text" class="form-control" name="otp" [(ngModel)]="model.otp" #otp="ngModel" required />
                <div *ngIf="f.submitted && !otp.valid" class="help-block">Invalid Otp, <a (click)="goTo(1)">Go back</a></div>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">Validate</button>
                <simple-spinner [show]="loading"></simple-spinner>
            </div>
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        </form>
        <div class="back-message text-left">
            If you did not receive a code,<br>
            <a (click)="goTo(1)">click here to request a new code</a>
        </div>
    </div>
</div>