<div class="row">

    <div class="package-enrolled">
        <div class="enrolled">&nbsp;&nbsp;&nbsp;Enrolled Promos</div>
        <ul class="package_list top10" *ngIf="activePackages?.did?.length > 0">
            <list-packages [packages]=activePackages?.did></list-packages>
        </ul>
        <ul class="package_list" *ngIf="activePackages?.credit?.length > 0">
            <list-packages [packages]=activePackages?.credit></list-packages>
        </ul>

        <ul class="package_list" *ngIf="activePackages?.minutes?.length > 0">
            <list-packages [packages]=activePackages?.minutes></list-packages>
        </ul>



        <div *ngIf="activePackages?.length === 0">
            You are not subscribed to any package. <br>
            <a routerLink="/purchase">Get a plan now.</a>
        </div>
    </div>
</div>

<!-- PREVIOUS DESIGN
<h1>Active Packages</h1


<div class="row">
    <div *ngIf="activePackages?.credit?.length > 0" class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="package-box">
            <h2>Credit</h2>
            <list-packages [packages]=activePackages?.credit></list-packages>
        </div>
    </div>
    <div *ngIf="activePackages?.minutes?.length > 0" class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="package-box">
            <h2>Philippine Call and Text Plans</h2>
            <list-packages [packages]=activePackages?.minutes></list-packages>
        </div>
    </div>
    <div *ngIf="activePackages?.did?.length > 0" class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="package-box">
            <h2>Philippine Mobile Number</h2>
            <list-packages [packages]=activePackages?.did></list-packages>
        </div>
    </div>
    <div *ngIf="activePackages?.length === 0">
        You are not subscribed to any package. <br>
        <a routerLink="/purchase">Get a plan now.</a>
    </div>
</div>
-->


<!--sample packages only... for theming and testing...remove before deployment
<div class="row">

    <div class="package-enrolled">
        <div class="enrolled">&nbsp;&nbsp;&nbsp;Enrolled Promos</div>
        <div class="row top10">
            <div class="col-sm-3 call-num"></div>
            <div class="col-sm-9">
                <div class="enrolled-package-name">Philippine Number</div>
                <div class="enrolled-package-date">09399998765</div>
                <div class="enrolled-package-dateph">Expiry:&nbsp;dd/MM/yyyy</div>
            </div>
        </div>

        <ul class="package_list">
            <li class="active-package-item top15" >
                <div class="row">
                    <div class="col-sm-3 call-icon"></div>
                    <div class="col-sm-9">
                        <div class="enrolled-package-name">Telebabad for 7 days</div>
                        <div class="enrolled-package-date">Expiry:&nbsp;dd/MM/yyyy</div>
                    </div>

                </div>

            </li>
            <li class="active-package-item top15" >
                <div class="row">
                    <div class="col-sm-3 call-icon"></div>
                    <div class="col-sm-9">
                        <div class="enrolled-package-name">US$ 0.99 Variant</div>
                        <div class="enrolled-package-date">Expiry:&nbsp;dd/MM/yyyy</div>
                    </div>

                </div>

            </li>
            <li class="active-package-item top15" >
                <div class="row">
                    <div class="col-sm-3 call-icon"></div>
                    <div class="col-sm-9">
                        <div class="enrolled-package-name">package name</div>
                        <div class="enrolled-package-date">Expiry:&nbsp;dd/MM/yyyy</div>
                    </div>

                </div>

            </li>
        </ul>
    </div>
</div>
-->