<h1>Active Packages</h1>

<div *ngIf="activePackages.credit?.length > 0">
    <h2>Credit</h2>
    <list-packages [packages]=activePackages.credit></list-packages>
</div>
<div *ngIf="activePackages.minutes?.length > 0">
    <h2>Philippine Call and Text Plans</h2>
    <list-packages [packages]=activePackages.minutes></list-packages>
</div>
<div *ngIf="activePackages.did?.length > 0">
    <h2>Philippine Mobile Number</h2>
    <list-packages [packages]=activePackages.did></list-packages>
</div>
<div *ngIf="activePackages?.length === 0">
    You are not subscribed to any package. <br>
    <a routerLink="/purchase">Get a plan now.</a>
</div>

<!-- SAMPLE -->
<div>
    <ul>
        <li class="active-package-item top15" *ngFor="let package of packages">
            <div><span class="active-package-item-field">Name:</span>{{package.name}}</div>
            <div *ngIf="package.balance > 0"><span class="active-package-item-field">Balance:</span>&#36;{{package.balance}}</div>
            <div *ngIf="package.remainingMinutes > 0"><span class="active-package-item-field">Remaining Time:</span>{{package.remainingMinutes}} minutes</div>
            <div><span class="active-package-item-field">Start Time:</span>{{package.startTime | date: 'dd/MM/yyyy HH:mm'}}</div>
            <div><span class="active-package-item-field">End Time:</span>{{package.endTime | date: 'dd/MM/yyyy HH:mm'}}</div>
        </li>
    </ul>
</div>
